#header-background {
    width: 100%;
    height: auto;
    background:url(image\bg.png)
}


.header{

    background-image: url("image/bg.png");
    
}


@font-face {
    font-family: 'Reklame Script Regular DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Reklame Script Regular DEMO'), url('fonts\ReklameScript-Regular_DEMO.woff') format('woff');
}

#header-content {
    font-family: 'Lobster', serif;
    font-size: 64px;
}

li{
    font-size: 14.5px;
}

#cover-image {
    background-image: url('image/bldg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#form-header {
    font-family:'Reklame Script DEMO', serif;
    font-size: 55px;
}

#form-label{
    font-family:'Roboto', serif;
    font-size: 16px;
}

input[type="text"]{
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 30%;
    padding: 10px 20px;
}

input[type="submit"]{
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 10px 22px;
    color: white;
    background-color:rgb(157,157,157);
    font-family:'Roboto', serif;
}


#headline {
    font-family:'Roboto', serif;
    font-size: 24px;
    color:#393939;
    margin-bottom: 0; 
    display: inline-block;
}

#subhead {
    color: rgb(157, 157, 157);
    font-family:'Roboto', serif;
    font-size: 18px;
}

#subhead2 {
    color: #666666;
    font-family:'Roboto', serif;
    font-size: 16px;
}

#icon-block {
    display: inline-block; 
}

#credit-block {
    color: #666666;
    font-family:'Roboto', serif;
    font-size: 14px;
}

#footer-section {
    background-color: #4C4C4C;
    color: #ffffff;
    font-family:'Roboto', serif;
    font-size: 15px;
}